<div style="margin: 4px;" *ngFor="let area of regions">
  <div class="card-body" *ngIf="area?.name === region">
    <h2 class="card-title"><strong>Region: </strong>{{ area?.name }}</h2>
    <hr style="border: 1px solid rgba(14, 13, 13, 0.1);"/>
    <div
      class="card"
      style="margin: 5%;"
      *ngFor="let district of area.districts; index as i"
    >
      <strong>District {{ i + 1 }}: </strong>
      <div class="card">
        <p>{{ district?.name }}</p>

        <span
          class="{{
            district?.isActive === true
              ? 'badge badge-success'
              : 'badge badge-danger'
          }}"
          >IsActive</span
        >
      </div>
      <strong>Sub-Counties: </strong>
      <li class="card" *ngFor="let subcounty of district?.subCounties">
        {{ subcounty?.name }}
        <span
          class="{{
            subcounty?.isActive === true
              ? 'badge badge-success'
              : 'badge badge-danger'
          }}"
          >IsActive</span
        >
      </li>
    </div>
  </div>
</div>
